<!-- Added the admin edited by Noel --->
<h1>
    <div style='text-align: center;'>
        Welcome, BitWorld Administrator!
    </div>
</h1>

<h2>
    <div style='text-align:center'>What would you like to do?</div>
</h2>

<style>
    .container {
        height: 200px;
        position: relative;
        border: 3px snow;
    }

    .center {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform:
            translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .button {
        width: 200px;
    }
</style>

<div class='container'>
    <div class='center'>
        <button class='btn-info' style='margin-bottom: 20px; width:500px; border-radius: 12px; font-size: 24px; transition-duration: 0.4s'>
            <a href='/users/admin/resetpassword' class='adminaction' style='color: aliceblue;'>Manage User Password</a>
        </button>

        <button class='btn-info' style='width:500px; border-radius: 12px; font-size: 24px; transition-duration: 0.4s'>
            <a href='/users/admin/listalluser' class='adminaction' style='color: aliceblue;'>View Registered Users</a>
        </button>
    </div>
</div>

<!--Newly Added the admin homepage edited by Noel --->