<form action="/admin/listalluser" method="POST">

    {{#if success}}
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> All user is listed below.
    </div>
    {{/if}}

    <button class="btn btn-block btn-danger" type="submit">
        list out all user
    </button>
    </div>
</form>

{{#each records}}

{{#each this}}
{{#if this.email }}
<form action="/admin/user" method="POST">
    <ul class="navbar-nav justify-content-center">
        <li class="nav-item" style="text-align:center">
            <button type="submit" value={{this.email}} name="email"
                style="border-style:none ;background-color:transparent">
                Email:
                {{this.email}}</button></div>
        </li>
    </ul>
</form>
<br>
{{/if}}
{{/each}}

{{/each}}