<div class="row">
    <div class="col-md-4 col-md-offset-4">

        <p style="color: red;">{{{error}}}</p>
        <form action="/users/verify" method="post">
            <div class ="form-group">
               <h1>Hi, {{{data.userName}}}. </h1> 
               <label > Please go to  {{{data.email}}} and find the token </label>

            </div>
            <div class ="form-group">

               <label for = "Token">Token</label>
               <input type="password" id="secretToken" name="secretToken" class="form-control" placeholder="Secret Token" required autofocus>
            </div>
            <button type="submit" class="btn btn-primary">verify</button>




        </form>

    </div>
</div>